<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>17162B9E-C683-4FED-9F44-886B0B489E5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68E9E369-81F3-4764-AE82-F7A05D541B5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2AD2738B-CE5E-485B-AA44-C089771FCF3B</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Reveal Project In Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A4EE0406-8CBF-4F0D-BF56-E03AC0557CF6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68E9E369-81F3-4764-AE82-F7A05D541B5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2AD2738B-CE5E-485B-AA44-C089771FCF3B</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Reveal Project In Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jeremy Jin</string>
	<key>description</key>
	<string>Quickly Open......</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Quickly Open Project</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>103</integer>
				<key>keyword</key>
				<string>charm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>#!/bin/bash

query="{query}"

sh search.sh $query</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Open Recent Project with Pycharm</string>
				<key>title</key>
				<string>Open Recent Project</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>17162B9E-C683-4FED-9F44-886B0B489E5C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash

sh lunch.sh $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>68E9E369-81F3-4764-AE82-F7A05D541B5C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>charmf</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~</string>
					<string>~/coding</string>
				</array>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Open with Pycharm</string>
				<key>title</key>
				<string>Pycharm</string>
				<key>types</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>A4EE0406-8CBF-4F0D-BF56-E03AC0557CF6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>2AD2738B-CE5E-485B-AA44-C089771FCF3B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred-open-pycharm is a workflow plugin on Alfred, which can help you to quickly open your favorite projects, to improve development efficiency

1.How to quickly open a recently opened project
2.How to quickly open a project that have not been recently opened
3.How to quickly switch project windows when multiple project windows are opened
4.How to quickly reveal the project or the folder in Finder instead</string>
	<key>uidata</key>
	<dict>
		<key>17162B9E-C683-4FED-9F44-886B0B489E5C</key>
		<dict>
			<key>note</key>
			<string>Type "charm" followed by the name of your project.</string>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>2AD2738B-CE5E-485B-AA44-C089771FCF3B</key>
		<dict>
			<key>note</key>
			<string>Hold the Alt key when pressing Return to reveal the folder in Finder instead.</string>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>68E9E369-81F3-4764-AE82-F7A05D541B5C</key>
		<dict>
			<key>note</key>
			<string>Open the project at the specified address.</string>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>A4EE0406-8CBF-4F0D-BF56-E03AC0557CF6</key>
		<dict>
			<key>note</key>
			<string>Type "charmf" followed by the name of your folder. The scope is set to home folder only.</string>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>2.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/jeremy-jin/alfred-open-pycharm</string>
</dict>
</plist>
